:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

p {
  font-size: 16px;
}


/* ------------------- Sign Up Page ------------------------------ */
.main_section {
  background-color: hsl(235, 18%, 26%);
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

.box {
  width: 375px;
  height: fit-content;
  background-color: hsl(0, 0%, 100%);
}

.box .mobile-img {
  width: 100%;
}

.box .desktop-img {
  display: none;
}

.sign_up {
  padding-bottom: 1rem;
}

.sign_up h1 {
  font-size: 2.5rem;
  color: hsl(234, 29%, 20%);
  padding: 0 26px;
}

.sign_up p {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  color: hsl(234, 29%, 20%);
  width: 80%;
  padding: 0 26px;
}

.sign_up .form_details {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0 26px;
}

.sign_up .form_details label {
  margin: 16px 0 6px 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 14px;
}

.sign_up .form_details input {
  background-color: hsl(0, 0%, 100%);
  color: hsl(235, 18%, 26%);
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 5px;
  padding: 16px 0;
  outline: none;
  width: 90%;
  text-indent: 16px;
}

.form_details .invalid_email {
  padding: 0;
  margin: 0 0 0.5rem 0;
  color: hsl(4, 100%, 67%);
}

.form_details input.wrong_input {
  border: 1px solid hsl(4, 100%, 67%);
  background-color: hsl(0, 100%, 97%);
  color: hsl(4, 100%, 67%);
}

.form_details .valid_email {
  padding: 0;
  margin: 0 0 0.5rem 0;
  color: rgb(9, 219, 219)
}

.sign_up form button {
  margin: 29px 0;
  padding: 1rem;
  background-color: hsl(234, 29%, 20%);
  width: 90%;
  border: none;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

.sign_up form button:hover {
  background-color: hsl(4, 100%, 67%)
}


/* -------------------- Thank you Page ------------------------------- */
.thank-you-page {
  background-color: hsl(0, 0%, 100%);
  color: hsl(234, 29%, 20%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.content {
  height: 80vh;
  width: 375px;
  padding: 3rem 16px 16px 16px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.content div img {
  width: 72px;
}

.content div p .email {
  font-weight: bolder;
}

.content .link-to-home {
  margin-top: auto;
  margin-right: 0;
  margin-left: 0;
  width: 95%;
}

.content a {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  border-radius: 7px;
  text-align: center;
  padding: 0.75rem 1rem;
  display: block;
  width: 90%;
}


/* ------------ Footer Section ----------------------------- */
footer {
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
}

footer .attribution {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 6px;
  flex-wrap: wrap;
  font-size: 12px;
}


/* ----------------------- Media Query ------------------------------- */

@media screen and (min-width: 800px) {
  .box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    padding: 19px;
    width: fit-content;
    border-radius: 20px;
  }

  .box .mobile-img {
    display: none;
  }

  .box .desktop-img {
    display: block;
  }

  .thank-you-page {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
  }

  .content {
    height: fit-content;
    background-color: hsl(0, 0%, 100%);
    color: hsl(234, 29%, 20%);
    border-radius: 20px;
    padding: 2.5rem 24px;
    align-items: center;
    display: block;
  }

  .content div img {
    margin: 0 auto 0 2rem;
  }

  .content div h1 {
    width: 82%;
    margin: 1rem auto;
  }

  .content div p {
    width: 80%;
    margin: 0 auto 2rem auto;
  }

  .content a {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  footer .attribution {
    font-size: 16px;
  }
}